/*
  Name: Trevor Coffin
  Course: Web Development
  Teacher: Mr. Hardman
  School: Pembina Trails Early College
  Date Last Modified: 14<sup>th</sup> dec 2022
*/

* {
  margin: 0;
  line-height: 140%;
}

/* 
  This sets the default font-size of the html element to 62.5% 
  of the default font-size of the web browser or web page.
*/
html {
  font-size: 62.5%;
}

/* 
  The first 2 lines set the color of the background and text in 
  the body element background is set to #055a8705 and the text 
  is set to #01131c. 
  
  The font-family attribute sets the font for the text and any 
  alternative fonts if the browser doesn't support the primary 
  font.

  (Comment below from Scott Hardman)
  This will style the body element and all elements that inherit
  from the body styling to have a font-size of 1.8 times the size 
  of the root elements font size.
*/
body {
  background-color: #055a8705;
  color: #01131c;
  font-family: georgia, arial, sans-serif;
  font-size: 1.8rem;
}

/* 
  This styles the font-size of any h1 elements to be 2.5 times 
  the size of the root element. (html element)

  margin border and padding is the space added between other 
  elements and the border (Margin) and the element and the border.
  (Padding) in this instance there is 10px of space between the
  border and other elements and 1px of space between the border
  and the element and finally the border itself is 1px thick.

  text-transform is a property that allows you to change text 
  elements
*/
h1 {
  font-size: 2.5rem;
  margin: 10px;
  border: 1px;
  padding: 1px;
  text-transform: uppercase;
  -webkit-text-decoration: bold;
  -moz-text-decoration: bold;
  text-decoration: bold;
}

h2 {
  font-size: 2.3rem;
  margin: 18px 5px;
  border: 1px;
  padding: 1px;
}

/* 
  This again styles the text to be 1.6 times the size of the root 
  element 

  This margin gives 5px of space around the outside of the <p> 
  elements' border.

  The border sets the size of the border to be 1 px in size.

  This padding property adds 1px of space between the element and 
  it's border
*/
p {
  font-size: 1.6rem;
  margin: 5px 5px;
  border: 1px;
  padding: 1px;
}

/* 
  This sets the background color of the nav to be #55bde730, 
  this color is a light off blue
*/
nav {
  background-color: #55bde730;
}

/* 
  A margin of 5px this space goes around the entire element

  Padding is set to none so that there is less space between 
  the border and the element.
*/
nav ul {
  margin: 5px;

  padding: 0;

  list-style: none;
}

/* 
  display: inline-block; allows the links in the nav to be 
  displayed beside each other instead of being in a vertical 
  list.
*/
nav li {
  display: inline-block;
}

/* 
  (Comment from Scott hardman *don't have the full comment here)
  Height 95% means that this element is 95% the height of the 
  parent element.
  
  This allows 15px of space between the links and the border
*/
nav a {
  height: 95%;

  padding: 15px;

  color: #005aad;

  text-decoration: none;
}

/* 
  When tabbing through or hovering over this element the background 
  is set to a light blue #005aad and the font-color is set to a 
  lighter blue #55bde7
*/
nav a:hover,
nav a:focus {
  background-color: #005aad;
  color: #55bde7;
}

/* 
  any elements with the class of nav-link to have a background of #55bde770
  be aligned horizontally with other elements have a margin of 10px the font-size is set to 
  20px our border is 2px with a color of solid dark blue and 10px of padding between the
  element and its border

*/
.nav-link {
  background-color: #55bde770;
  display: inline-block;
  margin: 10px;
  font-size: 20px;
  border: 2px, solid, #055a8725;
  padding: 10px;
}

img {
  border: 8px solid #ff7f34;
  margin: 10px;
}

.normal-section {
  background-color: #55bde750;
  padding: 1.5% 3%;
  margin: 10px;
}

section div {
  display: inline-block;

  width: 80%;

  padding: 1.5% 3%;
  margin: 10px 20px;

  background-color: #55bde750;
}

section figure {
  display: inline-block;

  width: 50%;
}

.fine-text {
  font-size: 1.2rem;
}

span {
  font-weight: bold;
  text-decoration: underline;
}
