* {
  margin: 0;
  line-height: 140%;
}

/* 
  This sets the default font-size of the html element to 62.5% 
  of the default font-size of the web browser or web page.
*/
html {
  font-size: 62.5%;
}

/* 
  The first 2 lines set the color of the background and text in 
  the body element background is set to #055a8705 and the text 
  is set to #01131c. 
  
  The font-family attribute sets the font for the text and any 
  alternative fonts if the browser doesn't support the primary 
  font.

  (Comment below from Scott Hardman)
  This will style the body element and all elements that inherit
  from the body styling to have a font-size of 1.8 times the size 
  of the root elements font size.
*/
body {
  background-color: #055a8705;
  color: #01131c;
  font-family: georgia, arial, sans-serif;
  font-size: 1.8rem;
}

/* 
  
*/
h1 {
  font-size: 2.5rem;
  margin: 10px;
  border: 1px;
  padding: 1px;
  text-transform: uppercase;
  text-decoration: bold;
}

h2 {
  font-size: 2.3rem;
  margin: 18px 5px;
  border: 1px;
  padding: 1px;
}

/* 
  This again styles the text to be 1.6 times the size of the root 
  element 

  This margin gives 5px of space around the outside of the <p> 
  elements' border.

  The border sets the size of the border to be 1 px in size.

  This padding attribute adds 1px of space between the element and 
  it's border
*/
p {
  font-size: 1.6rem;
  margin: 5px 5px;
  border: 1px;
  padding: 1px;
}

/* 
  This sets the background color of the nav to be #55bde730, 
  this color is a light off blue
*/
nav {
  background-color: #55bde730;
}

/* 
  A margin of 5px this space goes around the entire element

  Padding is set to none so that there is less space between 
  the border and the element.
*/
nav ul {
  margin: 5px;

  padding: 0;

  list-style: none;
}

/* 
  display: inline-block; allows the links in the nav to be 
  displayed beside each other instead of being in a vertical 
  list.
*/
nav li {
  display: inline-block;
}

/* 
(Comment from Scott hardman *don't have the full comment here)
  Height 95% means that this element is 95% the height of the 
  parent element.
  
  padding
*/
nav a {
  height: 95%;

  padding: 15px;

  color: #005aad;

  text-decoration: none;
}

/* 
  When tabbing through or hovering over this element the background 
  is set to a light blue #005aad and the font-color is set to a 
  lighter blue #55bde7
*/
nav a:hover,
nav a:focus {
  background-color: #005aad;
  color: #55bde7;
}

/*  When clicking and holding on this element it becomes very bold (bolder) */
nav a:active {
  font-weight: bolder;
}

.nav-link {
  background-color: #55bde770;
  display: inline-block;
  margin: 10px;
  font-size: 20px;
  border: 2px, solid, #055a8725;
  border-radius: 5px;
  padding: 10px;
}

img {
  border: 5px solid #ff7f34;
  border-radius: 3px;
  margin: 15px, 5px;
}

section div {
  display: inline-block;

  width: 80%;

  padding: 1.5% 3%;

  background-color: #55bde750;
}

section figure {
  display: inline-block;

  width: 50%;
}

/*----------------Index.HTML---------------*/

/* section {
  background-color: #55bde750;
  width: auto;
  height: auto;
  border: 5px solid #005aad80;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
} */

span {
  font-weight: bold;
  text-decoration: underline;
}

.space {
  padding: 15px;
}

#fine-text {
  font-size: 12px;
  padding: 10px;
}

/*OUTLINE------------------------------------*/

/* Good blue #00A0E0 and #0097D3


/* font-family: ;
  color: ;
  background-color: ;
  font-size: ;
  font-weight: ;
  text-decoration: ;
  font-style: ;
  text-transform: ;
  letter-spacing: ;
  word-spacing: ;
  line-height: ; */

/* 
  color choices potential
  -yellow - sunshine happiness
  -green - nature generosity
  -blue - sea sky harmony peace trust calm
  -white - innocence goodness cleanliness humility
  -grey - nutrility balance
  -brown - earth wood comfort security down to earth 

  orange and blue
  #ff5e00 #00a1ff
  
  yellow and blue
  #f5ff00 #0a00ff
*/
